# List:
A list is an ordered collection of items. A python list contains items separated by comma and enclosed with in square brackets([ ]).

A list in python is used to store the sequence of various types of data in a single variable.Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

List items are ordered, changeable, and allow duplicate values.

In [4]:
x = ["hii",2,2+3j,True,1.0]
print(x,type(x),sep="\n")

['hii', 2, (2+3j), True, 1.0]
<class 'list'>

we can also use 'list()' to typecaste an iterator.

since list are seq, we can perform indexing and slicing

### indexing:

In [7]:
#positive indexing.
x = ["hii",2,2+3j,True,1.0]
x[1]

2

In [8]:
x = ["hii",2,2+3j,True,1.0]
x[3]

True

In [9]:
#negitive indexing
x = ["hii",2,2+3j,True,1.0]
x[-3]

(2+3j)

In [10]:
x = ["hii",2,2+3j,True,1.0]
x[-1]

1.0

### slicing:

In [11]:
x = ["hii",2,2+3j,True,1.0]
x

['hii', 2, (2+3j), True, 1.0]

In [12]:
#positive slicing:
x[1:5]

[2, (2+3j), True, 1.0]

In [13]:
x[:4]

['hii', 2, (2+3j), True]

In [14]:
x[1:]

[2, (2+3j), True, 1.0]

In [15]:
#negative slicing:
x[-4:-1]

[2, (2+3j), True]

In [16]:
x[-5:-3]

['hii', 2]

In [17]:
#reverse the list
x[::-1]

[1.0, True, (2+3j), 2, 'hii']

### Methods in list:

In [18]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [19]:
z = ['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']
len(z)

48

1)append : add exactly one element

2)clear : clears the list's contents and returns a empty list

3)copy : creates a shallow copy of the list object

4)count : same as string , it counts the number of times an element has occured in the list

5)extend : adds or extend the list by two or multiple elements at a time

6)insert : inserts a new element at said index postion

7)pop : pops out the last elementin list .If an index is given as input,it pops out the element at said index

8)remove : removes the said element

9)reverse : reverse the string

10)sort : sorts the string in ascending or descending order

### 1)append( ) :
The append() method appends an element to the end of the list.

In [20]:
help(list.append)

Help on method_descriptor:

append(self, object, /)
    Append object to the end of the list.

In [25]:
cricketers = ["kane williamson", "ms dhoni","virat kohli","shikhar dhawan"]
cricketers

['kane williamson', 'ms dhoni', 'virat kohli', 'shikhar dhawan']

In [34]:
cricketers.append("david warner")
cricketers

['kane williamson',
 'ms dhoni',
 'virat kohli',
 'shikhar dhawan',
 'david warner']

### 2)clear( ) :
The clear() method removes all the elements from a list.

In [24]:
help(list.clear)

Help on method_descriptor:

clear(self, /)
    Remove all items from list.

In [35]:
alp = ['a','b','c']
alp

['a', 'b', 'c']

In [37]:
alp.clear()
alp

[]

### 3)copy( ) :
The copy() method returns a copy of the specified list.

In [38]:
help(list.copy)

Help on method_descriptor:

copy(self, /)
    Return a shallow copy of the list.

In [39]:
a=['one','two','three']
b=a
print(a,b,sep='\n')

['one', 'two', 'three']
['one', 'two', 'three']

In [40]:
a.extend([4,5,6])
print(a, b, sep = '\n')

['one', 'two', 'three', 4, 5, 6]
['one', 'two', 'three', 4, 5, 6]

In [41]:
print(a, id(a))
print(b, id(b))

['one', 'two', 'three', 4, 5, 6] 2292475789120
['one', 'two', 'three', 4, 5, 6] 2292475789120

In [42]:
# copy()

c = a.copy()

a.reverse()
print(a, id(a))
print(c, id(c))

[6, 5, 4, 'three', 'two', 'one'] 2292475789120
['one', 'two', 'three', 4, 5, 6] 2292475574592

In [43]:
d = [111, 222, 333, ['one', 'two', 'three']]
e = d.copy()
print(d, id(d))
print(e, id(e))

[111, 222, 333, ['one', 'two', 'three']] 2292462134976
[111, 222, 333, ['one', 'two', 'three']] 2292475507712

In [44]:
d[3][1]

'two'

In [45]:
d[0] = 'zzz'
d[3][1] = 2
d[3].append('z')
print(d)

['zzz', 222, 333, ['one', 2, 'three', 'z']]

In [46]:
print(e)

[111, 222, 333, ['one', 2, 'three', 'z']]

In [47]:
d is e

False

In [48]:
d[3] is e[3]

True

In [49]:
print(d[3], id(d[3]))
print(e[3], id(e[3]))

['one', 2, 'three', 'z'] 2292475572608
['one', 2, 'three', 'z'] 2292475572608

### deepcopy( ) :

In [50]:
import copy
from copy import deepcopy

In [51]:
f = deepcopy(e)
print(f, id(f))
print(e, id(e))

[111, 222, 333, ['one', 2, 'three', 'z']] 2292475573376
[111, 222, 333, ['one', 2, 'three', 'z']] 2292475507712

In [52]:
e[0] = 'zzz'
e[3][1] = 2.2
e[3].append('z')
print(e)

['zzz', 222, 333, ['one', 2.2, 'three', 'z', 'z']]

In [53]:
f

[111, 222, 333, ['one', 2, 'three', 'z']]

In [54]:
f[3] is not e[3]

True

In [55]:
print(f[3], id(f[3]))
print(e[3], id(e[3]))

['one', 2, 'three', 'z'] 2292476108544
['one', 2.2, 'three', 'z', 'z'] 2292475572608

In [56]:
e

['zzz', 222, 333, ['one', 2.2, 'three', 'z', 'z']]

### shollowcopy() vs deepcopy():
A shallow copy of an object creates a new object and copies the references of the original object’s attributes to the new object.It returns the same list with different memory location but the inner nested values memory location remains constant.

A deep copy of an object creates a new object and recursively copies the values of the original object’s attributes to the new object.it returns the same list with different memory location even the inner nested values also have differnt memory location.

### 4)count( ) :
The count() method returns the number of elements with the specified value.

In [57]:
help(list.count)

Help on method_descriptor:

count(self, value, /)
    Return number of occurrences of value.

In [59]:
numbers = [1,2,3,1,4,5,2,3,6,7,2,8,2]
numbers

[1, 2, 3, 1, 4, 5, 2, 3, 6, 7, 2, 8, 2]

In [60]:
numbers.count(2)

4

In [62]:
numbers.count(1)

2

In [63]:
numbers.index(3,3)

7

### 5)extend( ) :
The extend() method adds the specified list elements (or any iterable) to the end of the current list.

Add or extend the list by two or multiple elements at a time.

In [64]:
help(list.extend)

Help on method_descriptor:

extend(self, iterable, /)
    Extend list by appending elements from the iterable.

In [65]:
cricketers

['kane williamson',
 'ms dhoni',
 'virat kohli',
 'shikhar dhawan',
 'david warner']

In [86]:
cricketers.extend(["sachin tendulkar"])

In [87]:
cricketers

['kane williamson',
 'ms dhoni',
 'virat kohli',
 'shikhar dhawan',
 'david warner',
 'sachin tendulkar']

### 6)insert( ) :
The insert() method inserts the specified value at the specified position.

insert a new element at  index position.

In [88]:
help(list.insert)

Help on method_descriptor:

insert(self, index, object, /)
    Insert object before index.

In [89]:
cricketers.insert(0,"root")
cricketers

['root',
 'kane williamson',
 'ms dhoni',
 'virat kohli',
 'shikhar dhawan',
 'david warner',
 'sachin tendulkar']

### 7)pop( ) :
The pop() method removes the element at the specified position.

In [90]:
help(list.pop)

Help on method_descriptor:

pop(self, index=-1, /)
    Remove and return item at index (default last).

    Raises IndexError if list is empty or index is out of range.

In [91]:
cricketers.pop(3)
cricketers

['root',
 'kane williamson',
 'ms dhoni',
 'shikhar dhawan',
 'david warner',
 'sachin tendulkar']

### 8)remove( ) :
The remove() method removes the first occurrence of the element with the specified value.

In [92]:
help(list.remove)

Help on method_descriptor:

remove(self, value, /)
    Remove first occurrence of value.

    Raises ValueError if the value is not present.

In [98]:
cricketers

['root',
 'kane williamson',
 'ms dhoni',
 'shikhar dhawan',
 'david warner',
 'sachin tendulkar']

In [99]:
cricketers.remove("root")

In [100]:
cricketers

['kane williamson',
 'ms dhoni',
 'shikhar dhawan',
 'david warner',
 'sachin tendulkar']

### 9)reverse( ) :
The reverse() method reverses the sorting order of the elements.

In [101]:
help(list.reverse)

Help on method_descriptor:

reverse(self, /)
    Reverse *IN PLACE*.

In [102]:
cricketers

['kane williamson',
 'ms dhoni',
 'shikhar dhawan',
 'david warner',
 'sachin tendulkar']

In [103]:
cricketers.reverse()
cricketers

['sachin tendulkar',
 'david warner',
 'shikhar dhawan',
 'ms dhoni',
 'kane williamson']

### 10)sort( ) :
The sort() can be used to sort the list in both ascending and descending order

The sort() method sorts the list ascending by default.

In [104]:
help(list.sort)

Help on method_descriptor:

sort(self, /, *, key=None, reverse=False)
    Sort the list in ascending order and return None.

    The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
    order of two equal elements is maintained).

    If a key function is given, apply it once to each list item and sort them,
    ascending or descending, according to their function values.

    The reverse flag can be set to sort in descending order.

In [105]:
cricketers

['sachin tendulkar',
 'david warner',
 'shikhar dhawan',
 'ms dhoni',
 'kane williamson']

In [106]:
cricketers.sort()

In [107]:
cricketers

['david warner',
 'kane williamson',
 'ms dhoni',
 'sachin tendulkar',
 'shikhar dhawan']

In [108]:
a = [-50,-74,4,10,23] # only integers
b = [0.56, 1.89, -0.86, -0.99, -10.10] # only flaot values
c = a + b # int & flaots
d = [1+1j, 2-2j, 10+10j] # complex
e = ['venu', 'Vengal', 'Deepthi', 'shravani'] # strings
f = c + d
g = f + e
c.sort()
print(c)
e.sort()
print(e)

[-74, -50, -10.1, -0.99, -0.86, 0.56, 1.89, 4, 10, 23]
['Deepthi', 'Vengal', 'shravani', 'venu']

In [109]:
a.sort()

In [110]:
a

[-74, -50, 4, 10, 23]

In [111]:
b.sort()
b

[-10.1, -0.99, -0.86, 0.56, 1.89]

In [112]:
c.sort()
c

[-74, -50, -10.1, -0.99, -0.86, 0.56, 1.89, 4, 10, 23]

In [113]:
d.sort()
d #we cannot sort the complex values it returns en error.

TypeError: '<' not supported between instances of 'complex' and 'complex'

In [114]:
e.sort()
e

['Deepthi', 'Vengal', 'shravani', 'venu']

In [115]:
f.sort()
f

TypeError: '<' not supported between instances of 'complex' and 'float'

In [116]:
g.sort() 
g #we cannot sort a complex and float value it gives en error

TypeError: '<' not supported between instances of 'complex' and 'float'