# Range :
The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and stops before a specified number.

Syntax:- range(start, stop, step)

Start :- start position (Default 0)

Stop :- end position (Given Number)

Step :- stepping (Default +1)

You need to convert range object into a list/tuple by type casting , if we need to interspect every element.

Range object can be directly used as an iterator.

In [1]:
range(10)

range(0, 10)

In [2]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
list(range(1,20,2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [7]:
list(range(-12,-1))

[-12, -11, -10, -9, -8, -7, -6, -5, -4, -3, -2]

# Tuples :
A tuple is a ordered collection of items seperated by commas and enclosed within parenthesis( ).

A tuple in python is used to store the sequence of various types of data.

Tuple items are ordered, unchangeable and allows duplicate items.

Tuple are an immutable datatype datatype,which means that once they been generated, their elements connot be changed.

A tuple can contain any number of items including ones with different datatypes (dict,str,list)

Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

In [8]:
numbers = (1,2,3,4,5)
numbers

(1, 2, 3, 4, 5)

In [9]:
type(numbers)

tuple

Tuples are heterogenous in nature.

In [10]:
a=(1,2,3,3+3j,False,print,str)
type(a)

tuple

In [11]:
b = tuple("heterogenous")
b

('h', 'e', 't', 'e', 'r', 'o', 'g', 'e', 'n', 'o', 'u', 's')

### indexing:

In [12]:
#positive indexing
numbers = (1,2,3,4,5)
numbers[1]

2

In [13]:
numbers[3]

4

In [14]:
#negitive indexing
numbers = (1,2,3,4,5)
numbers[-1]

5

In [15]:
numbers[-4]

2

### slicing:

In [16]:
#positive slicing:
numbers = (1,2,3,4,5,6,7,8)
numbers

(1, 2, 3, 4, 5, 6, 7, 8)

In [17]:
numbers[2:6]

(3, 4, 5, 6)

In [18]:
numbers[:7]

(1, 2, 3, 4, 5, 6, 7)

In [20]:
numbers[1:]

(2, 3, 4, 5, 6, 7, 8)

In [21]:
#negitve slicing:
numbers = (1,2,3,4,5,6,7,8)
numbers

(1, 2, 3, 4, 5, 6, 7, 8)

In [22]:
numbers[-8:-3]

(1, 2, 3, 4, 5)

In [23]:
numbers[-4:]

(5, 6, 7, 8)

In [24]:
numbers[:-1]

(1, 2, 3, 4, 5, 6, 7)

In [25]:
numbers[::-1] #reverse the tuple

(8, 7, 6, 5, 4, 3, 2, 1)

## Methods in tuple:

In [26]:
dir(tuple)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [27]:
z = ['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [28]:
len(z)

35

### 1)count( ) :
The count() method of Tuple returns the number of times the given element appears in the tuple.

Syntax :- tuple.count(element)

In [35]:
help(tuple.count)

Help on method_descriptor:

count(self, value, /)
    Return number of occurrences of value.

In [30]:
numbers = (1,2,3,4,2,5,6,2)
numbers

(1, 2, 3, 4, 2, 5, 6, 2)

In [36]:
help(tuple.count)

Help on method_descriptor:

count(self, value, /)
    Return number of occurrences of value.

In [31]:
numbers.count(2)

3

### 2)index( ) :
The Index() method returns the first occurrence of the given element from the tuple.

The index() method raises an exception if the value is not found.

Syntax :- tuple.index(element, start, end)

In [32]:
numbers = (1,2,3,4,2,5,6,2)
numbers

(1, 2, 3, 4, 2, 5, 6, 2)

In [33]:
numbers.index(2)

1

In [34]:
numbers.index(7) #it returns an error if the element is not found.

ValueError: tuple.index(x): x not in tuple

# set:
A set is a unordered and unindexed collection of items seperated by commas and enclosed within curly brackets.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

A set is a collection which is unordered elements, so you cannot be sure in which order the items will appear.

sets are immutable datatype , it means we cannot change the item after the set has been created but you can add new items and remove items.

set don't allows duplicate items. Duplicate values will be ingnored. sets cannot have two items with same value. The value "True" and 1 are considered the same value in sets and treated as duplicates.

In [37]:
x = {1,2.2,3-3j,False,"sam"}
x

{(3-3j), 1, 2.2, False, 'sam'}

In [38]:
type(x)

set

In [39]:
numbers = {1,2,3,4,2}
numbers  #set don't allows duplicate elements.Here 2 is repeated two times.

{1, 2, 3, 4}

In [40]:
a ={1,"sam", True}
a #here 1 and true are considered as same values

{1, 'sam'}

# Methods in set

In [41]:
dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [42]:
z = ['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [43]:
len(z)

57

add()- Adds an element to the set.

update()- Update the set with another set, or any other iterable.

pop()- Removes an element from the set.

copy()- Returns a copy of the set.

remove()- Removes the specified element.

clear()- Removes all the elements from the set.

discard()- Remove the specified item.

# add( ) :
The add() method adds an element to the set.

If the element already exists, the add() method does not add the element.

In [44]:
help(set.add)

Help on method_descriptor:

add(...)
    Add an element to a set.

    This has no effect if the element is already present.

In [45]:
numbers = {1,2,3,4,5}
numbers

{1, 2, 3, 4, 5}

In [46]:
numbers.add(6)

In [47]:
numbers

{1, 2, 3, 4, 5, 6}

# update( ) :
The update() method updates the current set, by adding items from another set (or any other iterable).

If an item is present in both sets, only one appearance of this item will be present in the updated set.

In [48]:
help(set.update)

Help on method_descriptor:

update(...)
    Update a set with the union of itself and others.

In [49]:
numbers

{1, 2, 3, 4, 5, 6}

In [50]:
numbers.update([7,8])
numbers

{1, 2, 3, 4, 5, 6, 7, 8}

# pop( ) :
The pop() method removes a random item from the set.

This method returns the removed item.

In [52]:
help(set.pop)

Help on method_descriptor:

pop(...)
    Remove and return an arbitrary set element.
    Raises KeyError if the set is empty.

In [53]:
numbers

{1, 2, 3, 4, 5, 6, 7, 8}

In [54]:
numbers.pop()

1

In [55]:
numbers

{2, 3, 4, 5, 6, 7, 8}

## copy( ) :
The copy() method copies the set.

In [57]:
help(set.copy)

Help on method_descriptor:

copy(...)
    Return a shallow copy of a set.

In [58]:
numbers

{2, 3, 4, 5, 6, 7, 8}

In [59]:
x = numbers.copy()
x

{2, 3, 4, 5, 6, 7, 8}

In [60]:
id(numbers),id(x)

(1899617241792, 1899617243808)

# remove( ) :
The remove() method removes the specified element from the set.

This method is different from the discard() method, because the remove() method will raise an error if the specified item does not exist, and the discard() method will not.

In [61]:
help(set.remove)

Help on method_descriptor:

remove(...)
    Remove an element from a set; it must be a member.

    If the element is not a member, raise a KeyError.

In [62]:
numbers

{2, 3, 4, 5, 6, 7, 8}

In [63]:
numbers.remove(3)

In [64]:
numbers

{2, 4, 5, 6, 7, 8}

# clear( ) :
The clear() method removes all elements in a set.

In [65]:
help(set.clear)

Help on method_descriptor:

clear(...)
    Remove all elements from this set.

In [66]:
numbers

{2, 4, 5, 6, 7, 8}

In [67]:
numbers.clear()

In [68]:
numbers

set()

# discard( ) :
The discard() method removes the specified item from the set.

This method is different from the remove() method, because the remove() method will raise an error if the specified item does not exist, and the discard() method will not.

In [69]:
help(set.discard)

Help on method_descriptor:

discard(...)
    Remove an element from a set if it is a member.

    Unlike set.remove(), the discard() method does not raise
    an exception when an element is missing from the set.

In [70]:
numbers = {1,2,3,4}
numbers

{1, 2, 3, 4}

In [71]:
numbers.discard(3)

In [72]:
numbers

{1, 2, 4}

In [73]:
numbers.discard(7)

In [74]:
numbers

{1, 2, 4}

remove and discard are the same functions where in remove the element dosent present in the set ,it will gives error,and in discard element dosent present in the set ,it will gives the same set

# intersection( ) :

The intersection() method returns a set that contains the similarity between two or more sets.

Meaning: The returned set contains only items that exist in both sets, or in all sets if the comparison is done with more than two sets.

In [76]:
help(set.intersection)

Help on method_descriptor:

intersection(...)
    Return the intersection of two sets as a new set.

    (i.e. all elements that are in both sets.)

In [77]:
a = {1,2,3,4}
b = {3,4,5,6}
c = {7,8,9}

In [78]:
a.intersection(b)

{3, 4}

In [79]:
a.intersection(c)

set()

# union( ) :
The union() method returns a set that contains all items from the original set, and all items from the specified set(s).

You can specify as many sets you want, separated by commas.

It does not have to be a set, it can be any iterable object.

If an item is present in more than one set, the result will contain only one appearance of this item.

In [80]:
help(set.union)

Help on method_descriptor:

union(...)
    Return the union of sets as a new set.

    (i.e. all elements that are in either set.)

Return a set that contains all items from both sets, duplicates are excluded:

In [81]:
a.union(b)

{1, 2, 3, 4, 5, 6}

In [82]:
a.union(c)

{1, 2, 3, 4, 7, 8, 9}

# difference( ) :
The difference() method returns a set that contains the difference between two sets.

Meaning: The returned set contains items that exist only in the first set, and not in both sets.

In [83]:
help(set.difference)

Help on method_descriptor:

difference(...)
    Return the difference of two or more sets as a new set.

    (i.e. all elements that are in this set but not the others.)

In [84]:
a.difference(b)

{1, 2}

In [85]:
b.difference(a)

{5, 6}

In [86]:
a.difference(c)

{1, 2, 3, 4}

# symmetric_difference( ) :
The symmetric_difference() method returns a set that contains all items from both set, but not the items that are present in both sets.

Meaning: The returned set contains a mix of items that are not present in both sets

In [87]:
help(set.symmetric_difference)

Help on method_descriptor:

symmetric_difference(...)
    Return the symmetric difference of two sets as a new set.

    (i.e. all elements that are in exactly one of the sets.)

In [88]:
a.symmetric_difference(b)

{1, 2, 5, 6}

In [89]:
a.symmetric_difference(c)

{1, 2, 3, 4, 7, 8, 9}

# intersection_update( ) :
The intersection_update() method removes the items that is not present in both sets (or in all sets if the comparison is done between more than two sets).

The intersection_update() method is different from the intersection() method, because the intersection() method returns a new set, without the unwanted items, and the intersection_update() method removes the unwanted items from the original set.

In [90]:
help(set.intersection_update)

Help on method_descriptor:

intersection_update(...)
    Update a set with the intersection of itself and another.

In [94]:
#a = a.intersection(b)-->a.intersection_update(b)

In [95]:
a1,a2,a3 = a.copy(), a.copy(), a.copy()
b1,b2,b3 = b.copy(), b.copy(), b.copy()

In [96]:
a1

{3, 4}

In [98]:
a1.intersection_update(b)
a1

{3, 4}

# difference_update( ) :
The difference_update() method removes the items that exist in both sets.

The difference_update() method is different from the difference() method, because the difference() method returns a new set, without the unwanted items, and the difference_update() method removes the unwanted items from the original set.

In [100]:
help(set.difference_update)

Help on method_descriptor:

difference_update(...)
    Remove all elements of another set from this set.

In [110]:
a = {1,2,3,4}
b = {3,4,5,6}

In [111]:
a.difference_update(b)
a

{1, 2}

# symmetric_difference_update()
The symmetric_difference_update() method updates the original set by removing items that are present in both sets, and inserting the other items.

In [113]:
help(set.symmetric_difference_update)

Help on method_descriptor:

symmetric_difference_update(...)
    Update a set with the symmetric difference of itself and another.

In [114]:
a.symmetric_difference_update(b)

In [116]:
a

{1, 2, 3, 4, 5, 6}

# disjoint( ) :

The isdisjoint() method returns True if none of the items are present in both sets, otherwise it returns False.

In [119]:
help(set.isdisjoint)

Help on method_descriptor:

isdisjoint(...)
    Return True if two sets have a null intersection.

In [117]:
a.isdisjoint(c)

True

# issuperset() , issubset()

In [120]:
x,y = set(range(1,11)),set(range(5,11))

In [121]:
x,y

({1, 2, 3, 4, 5, 6, 7, 8, 9, 10}, {5, 6, 7, 8, 9, 10})

In [124]:
help(set.issuperset)

Help on method_descriptor:

issuperset(...)
    Report whether this set contains another set.

In [122]:
x.issuperset(y)

True

In [125]:
help(set.issubset)

Help on method_descriptor:

issubset(...)
    Report whether another set contains this set.

In [123]:
y.issubset(x)

True